html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, span, p {
    font-family: "微软雅黑";
    margin: 10px 0;
}

.content {
    margin: 10px 10px 50px;
}

.des-img {
    width: 100%;
}

.tab-nav-bar {
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #1976D2;
    display: -webkit-box;
    color: #fff;
}

.tab-nav-bar .tab-nav {
    text-align: center;
    line-height: 40px;
    -webkit-box-flex: 1;
    width: 1px;
}

.tab-nav.on {
    color: #FF9800;
}

.code-area .code-block {
    overflow: auto;
    color: #000000;
}
.code-area .code-block h5 {
    color: #0d3349;
    background: #ffffff;
}
.code-area .code-block .xmpCtrl {
    background-color: #B6B6B6;
    margin: 0 0 0 -70px;
    padding: 0;
    font-size: 15px;
    max-height: 300px;
    overflow: auto;
    white-space: pre;
 }
