html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, span, p {
    font-family: "微软雅黑";
    margin: 10px 0;
}

.content {
    margin: 10px 10px 50px;
}

.des-img {
    width: 100%;
}

.tab-nav-bar {
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #b2b2b2;
    display: -webkit-box;
    color: #444;
}

.tab-nav-bar .tab-nav {
    text-align: center;
    line-height: 35px;
    -webkit-box-flex: 1;
    width: 1px;
}

.tab-nav.on {
    color: #f2f2f2;
}

.code-area .code-block {
    background-color: #4d4d4d;
    color: white;
}
.code-area .code-block h5 {
    margin: 10px 0;
    color: #0d3349;
    background: #f2f2f2;
}
.code-area .code-block .xmpCtrl {
     margin-top: 0;
     margin-bottom: 0px;
     margin: 0 0 0 -70px;
     padding: 10px;
     max-height: 300px;
     overflow: auto;
     white-space: pre;
 }
