<!DOCTYPE html>
<html ng-app="HighchartDemoApp">
<head>
    <meta charset="UTF-8">
    <title>Highcharts 示例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="content">
        <ng-view></ng-view>
    </div>

    <div ng-controller="NavController" class="tab-nav-bar">
        <div class="tab-nav" ng-repeat="nav in navs" ng-class="{ on: navIndex === nav.url}">
            <a ng-click="changeLocation(nav.url)"><span ng-bind="nav.name"></span></a>
        </div>
    </div>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/highcharts/highcharts.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="js/controller/index.js"></script>
    <script src="views/line-list.js"></script>
</body>
</html>