<h3>柱状图</h3>

<div id="column-chart"></div>

<div class="code-area">
    <h4>HTML 代码：</h4>
    <div class="code-block">
        <xmp class="xmpCtrl">
            <div id="columnChart">
                //将要渲染图表的容器
            </div>
        </xmp>
    </div>
    <h4>JavaScript 代码：</h4>
    <div class="code-block">
        <xmp class="xmpCtrl">
            new DPCharts({
                renderTo: "columnChart",
                chartType: "column",
                xCategories: ['一月', '二月', '三月', '四月', '五月', '六月'],
                yAxisTitle: "降雨量 (mm)",
                xAxisTitle: "上半年月份",
                title: "上半年降雨将统计",
                subtitle: "四个城市降雨量数据",
                legend: {enabled: true},
                labels: {
                    enableY: true
                },
                series: [{
                    name: '北京',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0]
                }, {
                    name: '广州',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5]
                }, {
                    name: '上海',
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3]
                }, {
                    name: '杭州',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5]
                }]
            });
        </xmp>
    </div>
</div>