
<h3>线性图</h3>

<div id="line-chart">
</div>

<div class="code-area">
    <h4>HTML 代码：</h4>
    <div class="code-block">
        <xmp class="xmpCtrl">
            <div id="lineChart">
                //将要渲染图表的容器
            </div>
        </xmp>
    </div>
    <h4>JavaScript 代码：</h4>
    <div class="code-block">
        <xmp class="xmpCtrl">
            new DPCharts({
                renderTo: "lineChart",
                chartType: "line",
                xCategories: ['一月', '二月', '三月', '四月', '五月', '六月'],
                title: "降雨量 (mm)",
                series: [{
                    name: 'Tokyo',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0]
                }, {
                    name: 'New York',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5]
                }]
            });
        </xmp>
    </div>
</div>
