<h3>饼图</h3>

<div id="pie-chart"></div>

<div class="code-area">
	<h4>HTML代码：</h4>
	<div class="code-block">
		<xmp class="xmpCtrl">
            <div id="pieChart">
                //将要渲染图表的容器
            </div>
        </xmp>
    </div>
     
    <h4>JavaSrcipt代码：</h4>
    <div class="code-block">
        <xmp class="xmpCtrl">
            new DPCharts({
                renderTo: "pieChart",
                chartType: "pie",
                title: '2015年1月至5月浏览器市场占有率',
                series: [{
                    name: '品牌',
                    data: [{
                        name: 'Microsoft Internet Explorer',
                        y: 56.33
                    }, {
                        name: 'Chrome',
                        y: 24.03
                    }, {
                        name: 'Firefox',
                        y: 10.38
                    }, {
                        name: 'Safari',
                        y: 4.77
                    }, {
                        name: 'Opera',
                        y: 0.91
                    }, {
                        name: 'Proprietary or Undetectable',
                        y: 0.2
                    }]
                }]
            });
        </xmp>
    </div>
</div>